{% extends "my_project/base.html" %}

{% block title %}
    New recipe
{% endblock %}

{% block body %}


{% comment %}
<form method="post">
    {% csrf_token %}

  
<!-- <div class="mb-3">
  <label for="name" class="form-label">Name</label>
  <input type="text" class="form-control" id="name">
</div>
<div class="mb-3">
  <label for="desc" class="form-label">Description</label>
  <textarea class="form-control" id="desc" rows="3"></textarea>
</div>
<div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>


</form> -->
{% endcomment %}

<div class="mb-3 container">
    <h1>
        New recipe
    </h1>
</div>
<div class ="mb-3 container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">
            Submit
        </button>
    </form>
</div>
<div>
    <a href="{% url 'recipeapp:index' %}">
        Back
    </a>
</div>

{% endblock %}
