{% extends "my_project/base.html" %}

{% block title %}
    New recipe
{% endblock %}

{% block body %}

<div class="mb-3 container">
    <h1>
        New recipe
    </h1>
</div>
<div class ="mb-3 container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">
            Submit
        </button>
    </form>
</div>
<div class="container mb-3">
    <a class="btn btn-primary" href="{% url 'recipeapp:index' %}">
        Back
    </a>
</div>

{% endblock %}
