
{% extends "my_project/base.html" %}


{% block body %}
<div class="container mb-3">
    <h1> Recipe book </h1>
    <hr>
    <div class="container mb-3">
        <ul>
            {% for r in recs|slice:":5" %}
            <li>
                 <p><a href="{% url 'recipeapp:recipe' _pk=r.pk %}">
                    {{ r.name }}
                 </a></p>
                <p>{{ r.desc }}</p>
                <p>Author : {{ r.auth }}</p>
            </li>
            <hr>
            {% endfor %}
        </ul>
    </div>
    <div class="container mb-3">
        <a class="btn btn-primary" href="{% url 'recipeapp:create' %}">
            Create a new recipe
        </a>
    </div>
</div>
{% endblock %}