{% extends "my_project/base.html" %}

{% block title %}
    Some recipe
{% endblock %}

{% block body %}
    <h1> {{rec.name}} </h1>
    <div>
        {{ rec.desc }}

    </div>
    <div>
        {{ rec.alg }}
    </div>
    <div>
        {% if rec.auth %}
        Author : <a href="{% url 'userapp:user' name=rec.auth.username %}">{{rec.auth.username}}</a>
        {% endif %}
    </div>
    {% if rec.img %}
    <div>
        <img src="{{ rec.img.url }}">
    </div>
    {% endif %}
    {% if rec.auth == request.user %}
    <div>
        <a href="{% url 'recipeapp:update' pk=rec.pk %}">Update</a>
    </div>
    {% endif %}
    <div>
        <a href="{% url 'recipeapp:index' %}">
            Back
        </a>
    </div>
{% endblock %}